.query {
    width: 50%;
}

.teachers-list {
    padding-top: 0;
    padding-bottom: 0
}

.swalPaddings button {
    padding-top: 0;
    padding-bottom: 0
}

.swal2-confirm {
    background-color: rgb(48, 133, 214);
    margin-right: 20px
}

.swal2-cancel {
    display: inline-block;
    background-color: rgb(221, 51, 51);
}