.vmblogo {
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.vmblogo > img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 15px;
}

.vmblogo > span {
    color: #11545D;
    font-weight: 600;
    font-size: large;
    display: contents;
}
