i[class*='ti-'] {
    padding-right: 10px;
}

.row-post-masonry > img {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px)  {
    .row-post-masonry .post-header {
        min-height: 90px;
    }
}

@media only screen and (min-width: 1200px) {
    .row-post-masonry .post-header {
        min-height: 70px;
    }
}



