{
    "presets": ["env", "react"],
    "plugins": [
      "transform-class-properties",
      ["transform-imports", {
        "lodash": {
            "transform": "lodash/${member}",
            "preventFullImport": true
        }
    }]
    ]
  }